* {
    margin: 0;
}
:root {
   --color1: #FC6600;
   --COLOR2: #1598d4;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
  align-items: center;
}
.menu{
    background-color: var(--COLOR2);
    color: white;
    font-size: 33;
    padding: 7px;
}
nav{
    background-color: var(--COLOR2);
    padding: 10px;
}
nav a{
    text-decoration: none;
    display: block;
    color: black;
    margin: 5px;
    text-align: center;
}

.list-tour article{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 10px;
}
.list-tour img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.list-tour p{
    padding: 10px;
}


/* Điện thoại đứng */
@media screen and (min-width:240px) {
  
}
/* Điện thoại ngang và Máy tính bảng dọc*/
@media screen and (min-width:768px) {
   .list-tour{
    display: flex;
   }
  nav{
    display: flex;
    justify-content: center;
  }
  .menu{
    display: none;
  }
}
/* Laptop  và máy tính bảng ngang*/
@media screen and (min-width:1024px) {
   main,header{
    margin-left: 12%;
    margin-right: 12%;
   }
}